body {
    background-color: #0d1117;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.col {
    display: flex;
    flex-wrap: wrap;
    padding-right: 1rem;
}

.card {
    background-color: #161b22;
    color: white;
    width: calc((100% / 3) - 1rem);
    margin-left: 1rem;
}

.card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}